.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    padding:1%;
    border-bottom-width: 0px !important;
  }
  